/* .tags-tabs {
  overflow-x: hidden;
} */
.tabs-menu {
  margin-bottom: 15px;
}
.tab-button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  display: inline-block;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  position: relative;
}
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
}
.ctm_tbcols .productgrid--item {
  height: auto;
  width: 100%;
}
.image-full {
  max-width: 100%;
}
.ctm_tbcols .section-heading .tab-title { font-size: var(--h4-heading); font-weight: var(--font-weight-500); line-height: 35.2px; }
.ctm_tbcols .section-heading .tab-title, .ctm_tbcols .section-subheading { margin-bottom: 1.6rem; text-align: center; font-weight: var(--font-weight-700); }
.tabs-menu_main { display: flex; justify-content: center; }
.ctm_tbcols .tabs-menu { text-align: center; display: inline-flex; gap: 2.6rem; margin: 0 0 2rem; border-bottom: 1px solid var(--border-color-gray); }
.ctm_tbcols .tab-button { font-family: var(--font-body-family); font-size: var(--font-size-body); line-height: 16px; text-transform: capitalize; font-weight: var(--font-weight-500); border: 0; padding: 0 0 0.375rem; margin: 0; opacity: 0.5; border-bottom: 3px solid transparent; white-space: nowrap; }
.ctm_tbcols .tab-button.active { border-bottom: 3px solid var(--secondary-color); opacity: 1; }
.ctm_tbcols_shop { padding-top: 20px; display: flex; justify-content: center; align-items: center; text-align: center; }
